# Virtual env
.venv/
venv/

# Lambda build artifacts
build/

# Infracost output
.infracost/

# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
tfplan
app.zip

# Cache
__pycache__/
*.py[cod]
.ruff_cache/
.pytest_cache/


# env files
.env

# Local files
.DS_Store
.vscode/
