aws_region                = "us-east-2"
project_name              = "merapar-challenge"
environment               = "production"
ssm_parameter_value       = "The word of the day is Merapar"
budget_limit              = "1.0"
budget_notification_email = "your-email@example.com"
github_repo               = "your-org/your-repo"
